.emp-remove-action {
    display: inline-block;
    padding: .2rem;

}

select {
    margin-bottom : 2rem;
}


/**BUTTONS*/
.remove {
    color: white;
    background: lightcoral;
}

.terminate{
    background: lightcoral;
}

.accept{
    background : lightgreen;
}

.supervise{
    background: lightgreen;
}